body {
    margin:0;
    border:0;
	padding: 0;
}

h1 {
    text-align:center;
}

#center {
    display: inline-block;
    width: 900px;
}

div {
    display: inline-block;
    width: 315px;
}


img {
    position: relative;
    left: 25%;
    width: 400px;
    height: 300px;
}


p {
    text-indent: 2em;
    font-family: "宋体";
    font-size: 18px;
}